body 
{
   margin: 0%;
   display: flex; 
   justify-content: center;
   background: radial-gradient(circle, black, white);
}

#div-login
{
   border-radius: 20px;
   border: 0px;
   width: 360px;
   height: 500px;
   background-color: #161616;
   margin-top: 10%;
}

.input
{
  font-family: arial;
  outline: 0;
  background: #161616;
  width: 80%;
  border: solid rgb(255, 255, 255);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  margin-left: 10%;
  caret-color: blanchedalmond;
}

#form button
{
  width: 80%;
  padding: 11px;
  background-color: rgb(48, 111, 206);
  border-radius: 20px;
  margin-left: 10%;
  border: 0;
  font: normal 12pt arial;
  color: azure;
  margin-top: 7%;
  margin-bottom: 7%;
}

#form label
{
  margin-left: 10%;
  color: rgb(255, 255, 255); 
  font-family: Arial;
}

#form button:hover
{
  background-color: rgb(48, 188, 206);
}

#form p
{
  color: rgb(0, 174, 255);
  font-family: Arial;
  font-size: 11pt;
  margin-left: 11%;
}

#img
{
    width: 90px;
    height: 90px;
    margin-left: 38%;
    margin-top: -18%;
}
